*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --branco: rgba(255,255,255,0.95);
  --preto: rgba(0,0,0,0.9);
  --verdepax: #006b33;
  --padding: 0.5rem;
  --fmedia: 1rem;
  --fsmall: 0.9rem;
  --fbig: 1.6rem;
  --fdmedia: 1.5rem;
  --fdtext:1.3rem;
  --fdbig: 2.8rem;
  --fdtitle: 2.4rem;
}

html, 
body{
  height: 100%;
}

header{
  padding: var(--padding);
  box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background: var(--branco);
}

header img{
  max-height: 35px;
  margin: 5px;
}

section{
  padding: var(--padding);
}

.convert{
  
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.convert{
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.convert-text{
  position: relative;
  margin-top: 50px;
}

.convert-text p{
  width: 70%;
  margin-top: 5px;
  font-size: var(--fmedia);
  font-weight: 500;
  text-align: left;
  line-height: 25px;
}

.convert-text b{
  font-size: var(--fbig);
  font-weight: 700;
  color: var(--verdepax);
}

.container-app{
  position: absolute;
  right: 0;
  top: 75px;
}

.container-app img{
  width: 95%;
}

.convert-buttons span{
  display: block;
  margin-top: 40px;
  width: 60%;
  font-weight: 400;
  font-size: 0.7rem;
}

.convert-buttons span b {
  font-size: unset;
  font-weight: 500;
}

.convert-button{
  text-decoration: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 15px;
  padding: var(--padding);
  border-radius: 6px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.7);
  outline: none;

  animation: pulse 1.3s infinite ease;
}

.convert-button span{
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--preto);
}

.convert-button i{
  margin-right: 15px;
  font-size: 25px;
  color: var(--preto);
}

.text-button{
  width: 100%;
}

.text-button span{
  width: 100%;
}

.text-button i{
  width: 100%;
  font-size: 0.7rem;
}

.android{
  background: var(--verdepax);
}

.android span,
.android i{
  color: var(--branco);
  text-shadow: 0px 1px 5px rgba(0,0,0,0.6);
}

@keyframes pulse {

  0%{

    transform: scale(1);
  }

  50%{
    transform: scale(1.03);
  }

  100%{
    transform: scale(1);
  }
}

.novidades,
.trabalhe-solicite,
.solicite-plano{
  margin-top: 40px;
}

.title-secion h2{
  font-weight: 400;
}

.novidades-app{
  margin-top: 20px;
}

.novidades-app img{
  width: 100%;
}

.text-novidades,
.text-plano,
.text-agendamento,
.title-secion h2{
  width: 90%;
  margin: 0 auto;
  font-size: var(--fbig);
}

.text-novidades p,
.text-plano p,
.text-agendamento p,
.text-trabalhe-solicite p{
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 26px;
}

.text-novidades p b,
.text-plano p b,
.text-agendamento p b{
  color: var(--verdepax);
  font-weight: 700;
  font-size: 1.2rem;
}

.trabalhe-solicite{
  background: var(--verdepax);
  padding-bottom: 20px;
}

.section-90{
  width: 95%;
  margin: 0 auto;
}

.trabalhe-solicite .title-secion h2{
  width: 100%;
  color: var(--branco);
  margin-top: 20px;
}

.text-trabalhe-solicite ul{
  margin-top: 20px;
}

.text-trabalhe-solicite ul li{
  line-height: 26px;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--branco);
}

.solicite-plano-img{
  width: 50%;
}

.solicite-plano-img img{
  width: 100%;
  height: 400px;
  margin-top: 20px;
  object-fit: cover;
  object-position: 108% 0;
}

.solicite-plano .title-secion{
  margin-bottom: 10px;
}

.flex-div{
  display: flex;
  width: 100%;
}

.flex-div .convert-buttons{
  width: 50%;
}

.flex-div .convert-buttons span{
  width: 100%;
  margin-top: 20px;
}

.flex-div .convert-button{
  width: 90%;
  align-items: center;
}

.flex-div .convert-button span{
  margin: 0;
}

.text-solicite{
  margin-top: 50px;
}

.text-solicite p{
  line-height: 26px;
  font-size: var(--fsmall);
  width: 95%;
  margin-bottom: 0;
}

.text-solicite p b{
  color: var(--verdepax);
  font-weight: 900;
}

.agendamento{
  margin-top: 40px;
}

.agendamento .title-secion h2 b{
  color: var(--verdepax);
  font-weight: 600;
}

.agenda-img{
  width: 95%;
  margin: 0 auto;
}

.agenda-img img{
  width: 100%;
}

footer{
  padding: 1.5rem;
  text-align: center;
  background: rgb(230, 230, 230);
  border-top: solid 3px #cecece;
}


footer span{
  font-size: 0.8rem;
}

footer b{
  color: var(--verdepax);
}

@media screen and (min-width: 640px){
  

  main{

    max-width: 1080px;
    margin: 0 auto;
  }

  .convert{
    margin-top: 80px;
    width: 100%;
    padding-bottom: 10px;
  }

  .convert-text{
    margin-top: 20px;
    width: 50%;
    margin-left: 20px;
    padding: var(--padding);
  }
  

  .convert-text p{
    margin-top: 20px;
    font-size: var(--fdmedia);
    line-height: 28px;
    font-weight: 300;
    width: 370px;
  }

  .convert-text .title-app p,
  .convert-text .title-app b{
    font-size: var(--fdbig);
    font-weight: 700;
  }

  .convert-buttons span{
    font-size: 1rem;
    width: 100%;
    font-weight: 500;
  }

  .convert-buttons span b{
    font-weight: 600;
  }

  .buttons{
    display: flex;
  }

  .convert-buttons
  .convert-button{
    margin-right: 15px;
  }

  .convert-text .convert-button{
    width: 180px;
  }

  .convert-buttons span{
    font-size: 1.1rem;
  }

  .text-button i{
    font-size: 0.85rem;
  }

  .container-app{
    position: inherit;
    width: 460px;
    display: flex;
    justify-content: center;
  }

  .container-app img{
    width: 43%;
  }

  .title-secion{
    width: 90%;
    margin: 0 auto;
  }

  .title-secion h2{
    font-size: var(--fdtitle);
    width: 480px;
    margin: 0;
  }

  .text-novidades p, .text-plano p, .text-agendamento p, .text-trabalhe-solicite p{
    width: 530px;
    font-size: var(--fdtext);
  }

  .text-novidades p b, .text-plano p b, .text-agendamento p b{
    font-size: var(--fdmedia);
  }

  .novidades,
  .agendamento{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  
  .novidades,
  .agendamento,
  .solicite-plano{
    margin-top: 60px;
  }

  .agendamento{
    flex-direction: row;
  }

  .novidades-app,
  .agenda-img{
    margin: 0;
  }

  .novidades-app img,
  .agenda-img img{
    
    height: 300px;
    object-fit: contain;
  }

  .solicite-plano{
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    margin-bottom: -120px;
  }

  .solicite-plano-img img{
    position: relative;
    left: -105px;
    bottom: 220px;
  }

  .solicite-plano .title-secion, 
  .solicite-plano .text-plano{
    margin-left: 25px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }

  .solicite-plano .convert-buttons{
    width: 40%;
    margin: 0 auto;
  }

  .solicite-plano .convert-button{
    width: 180px;
  }

  .text-solicite{
    margin-top: 100px;
  }

  .solicite-plano-img img{
    margin-top: 24px;
    height: 520px;
    object-fit: contain;
  }

  footer{
    margin-bottom: -120px;
    margin-top: 50px;
  }
} 